{{ $contact := .Site.Data.contact }}

<section id="contact" class="contact mt-5 p-3 p-lg-5 p-md-5">
	<div class="container">

		<h2 class="pt-5 h2 text-center">Contact</h2>
		<p class="text-muted pb-5 text-center">Please provide the best method for contacting you.</p>

		<form name="contact" method="POST" data-netlify="true" netlify-honeypot="nf-hp">
			<input name="nf-hp" hidden/>

			<div class="row justify-content-md-center">
			
				<div class="col-12 col-lg-4 col-md-4 rounded text-dark p-5" style="font-size: 18px">
					{{ if $contact.location }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							Location
						</div>
						<div>{{ $contact.location }}</div>
					</div>
					{{ end }}
					{{ if $contact.address }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							Address
						</div>
						<div>{{ $contact.address }}</div>
					</div>
					{{ end }}
					{{ if $contact.email }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">Email</div>
						<div>{{ $contact.email }}</div>
					 </div>
					{{ end }}
					{{ if $contact.phone }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">Phone</div>
						<div>{{ $contact.phone }}</div>
					</div>
					{{ end }}
				</div>
				<div class="col-12 col-lg-6 col-md-6">
						<div class="row">
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" name="name" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Team Role</label>
									<input type="text" name="role" class="form-control" placeholder="Team role">
								</div>
							</div>

							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="email" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>Phone</label>
									<input type="tel" name="phone" class="form-control" placeholder="Phone">
								</div>
							</div>
	
							<div class="col-12">
								<div class="form-group">
									<label>Message</label>
									<textarea placeholder="Message" name="message" rows="5" class="form-control"></textarea>
								</div>
							</div>
	
							<div class="col-12">
									<button type="submit" class="btn btn-primary">Send</button>
							</div>
	
						</div>
					</div>
			</div>
		</form>

	</div>	
</section>