{{ $features := .Site.Data.features }}
{{ $title := $features.title }}
{{ $description := $features.description }}
<section id="features" class="bg-light py-5">
  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-12">
        <div class="d-flex h-100 align-items-center">
          <div>
              <h2 style="font-size:45px" class=" h1">{{ $title }}</h2>
              <p class="text-muted">{{ $description }}</p>
          </div>
          
        </div>
      </div>
      <div class="col-lg-7 col-12">
          
              {{ range $features.content }}
              <div class="row features bg-white shadow p-3 mb-3 rounded">
                  <div class="col-lg-2 col-12">
                    <div class="icon mb-4 text-center"><i class="fa fa-{{ .icon }}"></i></div>
                  </div>
                  <div class="col-10">
                      <h4 class="h4">{{ .title }}</h4>
                      <p style="font-size:14px;" class="text-muted">{{ .description }}</p>
                  </div>
                </div>
              {{end}}
           
      </div>
    </div>
  </div>
</section>
