{{ $pricing := .Site.Data.pricing }}
<section id="pricing" class="py-5">
  <div class="container text-center">
    <h2 class="pt-5 h2">{{ $pricing.title }}</h2>
    <p class="text-muted pb-5">{{ $pricing.description }}</p>
    <div class="row justify-content-md-center">
      {{ range $pricing.content }}
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="pricing shadow">
              <div class="header bg-light p-3 text-dark">
                <h5 class="h5 title">{{ .title }}</h5>
                <span class="price my-3">{{ .price }}</span>
                <a href="{{ .button.href | absURL }}" class="btn btn-success">{{ .button.text }}</a>
              </div>
              <div class="body p-3">
                <div class="features text-left">
                    {{ range .features }}
                      <div class="my-2 text-muted">
                        <span><i class="fa fa-check text-{{ if (isset . "style") }}{{ .style }}{{ else }}success{{ end }}"></i>&nbsp;&nbsp;{{ .text }}</span>
                      </div>
                    {{ end }}
                </div>
              </div>
            </div>
        </div>
      {{ end }}
    </div>
    
  </div>
</section>
