<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{ .Site.Title }} &middot; 404</title>
        <meta charset="utf-8">
        <link rel="canonical" href="{{ .Permalink }}">
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1:700" rel="stylesheet">
        <link href="{{ "favicon.png" | absURL }}" rel="icon" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css">
    </head>
    <body style="margin-top: 12%; background: #e8e8e8">
        <h1 class="h1 text-center" style="font-size: 12.5em; font-weight: bold; color: #c85f5f">404</h1>
        <h5 class="h5 text-center">There's nothing to see here</h5>
        <h5 class="h5 text-center"><a href="/">Go Back</a></h5>
        <script>
            setTimeout(() => window.history.back(), 2500);
        </script>
    </body>
</html>