{{ .Scratch.Set "navbarType" "transparent" }}

{{ partial "header.html" . }}

{{ if .Site.Params.coming_soon }}
	{{- $logoSrc := printf "images/%s" .Site.Data.header.logo | absURL -}}
<img style="width: 100%; margin-top: 12%" src="{{ $logoSrc }}" height="250px">
	<h1 class="h1 text-center" style="font-size: 12.5em; font-weight: bold">Coming Soon...</h1>
{{ else }}
{{ partial "nav.html" . }}

<!-- Loading the components -->
{{ $globalData := . }}
{{ $components := .Site.Data.config.components }}
{{ range $components }}
{{ if gt (len $components) 0 }}
{{ partial ( printf "%s.html" .) $globalData }}
{{ else }}
<h3 class="text-center">Oops! There is no component registered in config.json file</h3>
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
{{ end }}
{{ partial "footer-end.html" . }}